<!DOCTYPE html>
<html lang="ko" xmlns:th="<http://www.thymeleaf.org>">
<head>
    <meta charset="UTF-8">
    <title>게시판 Test</title>
<style>
    table{
        width : 100%;
        border : 1px solid #bbbdcf;
        border-collapse : collapse;
        text-align : center;
    }
    th {
        color : white;
        background-color : gray;
    }
    th, td {
        border: 1px solid #bbbdcf;
        padding : 10px;

    }
    #a {
        text-align : left;
    }

</style>
</head>
<body>
<h4> 게시판이 될 H T M L</h4>
<table>
    <tr>
        <th>No</th>
        <th>Writer</th>
        <th>Title</th>
        <th>Regdate</th>
        <th>Like</th>
        <th>View</th>
    </tr>
    <tr th:each="list : ${board}">
        <td th:text="${list.boardRownum}"></td>
        <td th:text="${list.nickname}"></td>
        <td th:text="${list.title}"></td>
        <td th:text="${list.regDate}"></td>
        <td th:text="${list.likeCount}"></td>
        <td th:text="${list.viewCount}"></td>
    </tr>
</table>
</body>
</html>