<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/board.css"/>
<title>게시판 Test</title>
</head>
<body>
<div class="container">
    <table class="board_list">
        <colgroup>
            <col width="10%">
            <col width="15%">
            <col width="*%">
            <col width="20%">
            <col width="10%">
            <col width="10%">
        </colgroup>
        <thead>
            <tr>
                <th>No</th>
                <th>Writer</th>
                <th>Title</th>
                <th>Regdate</th>
                <th>Like</th>
                <th>View</th>
            </tr>
        </thead>
        <tbody class="boardList">
<!--            <tr th:each="board, i : ${board}">
                <td th:text="${i.index+1}"></td>
                <td th:text="${board.nickname}"></td>
                <td class="title">
                    <a href="boardDetail?num=" th:attrappend="href=${board.boardRownum}" th:text="${board.title}"></a>
                </td>
                <td th:text="${#dates.format(board.regDate,'yyyy-MM-dd HH:mm:ss')}"></td>
                <td th:text="${board.likeCount}"></td>
                <td th:text="${board.viewCount}"></td>
            </tr>
            <tr th:unless="${#lists.size(board)} > 0">
                <td colspan="6">조회된 결과 없음.</td>
            </tr>-->
        </tbody>
    </table>
    <a href="boardWrite" class="btn">글 쓰기</a>
</div>
</body>
<script>
    document.addEventListener("DOMContentLoaded", function (){
        const request = new XMLHttpRequest();
        request.open("GET", "/boards", true);
        request.send();
        request.onload = function () {
            if(request.status === 200) {
                const boardList = JSON.parse(request.response);
                const tBody = document.querySelector(".boardList");
                const fragment = document.createDocumentFragment();
                for(const board of boardList) {
                    console.log(board)
                    const tr = document.createElement("tr");
                    tr.innerHTML += `<td>${board.boardRownum}</td>`;
                    tr.innerHTML += `<td>${board.nickname}</td>`;
                    tr.innerHTML += `<td className="title"><a href="boardDetail?num=${board.boardRownum}">${board.title}</a></td>`;
                    tr.innerHTML += `<td>${board.regDate}</td>`;
                    tr.innerHTML += `<td>${board.likeCount}</td>`;
                    tr.innerHTML += `<td>${board.viewCount}</td>`;
                    fragment.appendChild(tr);
                }
                tBody.appendChild(fragment)
            }
        }
    })
</script>
</html>